<div class="row">
<h2>MTG Card Creator</h2>

<p>These are all the current expansions</p>
<ul><% @expansions.each do |expansion| %>
  <li><%= link_to expansion.set_name, expansion_path(expansion) %></li>
<% end %></ul>
</div>